<app-navbarcomponent></app-navbarcomponent>
<form class="row row-cols-lg-auto g-3 align-items-center form">
  <div class="col-14">
    <h2>Enter number of guests</h2>
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Number of guest</label>
    <div class="input-group col-12" >
      <div class="input-group-text">#</div>
      <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="NumberGuest" [(ngModel)]="numberGuest" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-danger" (click)="Guardado(mymodal)">Submit</button>
  </div>
</form>
<ng-template #mymodal let-modal>
  <div class="modal-header" style="background-color: aqua;">
    cerrar
  </div>
  <div class="modal--body">
    <app-calendar></app-calendar>
  </div>
  <div class="modal-footer">
    footer
  </div>
</ng-template>