<app-navbarcomponent></app-navbarcomponent>
<form class="row row-cols-lg-auto g-3 align-items-center form">
  <div class="col-14">
    <h2>Enter number of guests</h2>
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Number of guest</label>
    <div class="input-group col-12" >
      <div class="input-group-text">#</div>
      <input type="number" class="form-control" id="inlineFormInputGroupUsername" placeholder="NumberGuest" [(ngModel)]="numberGuest" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-danger" (click)="Guardado()">Submit</button>
  </div>
</form>