<div class="container">
  <div class="alert alert-danger" role="alert" *ngIf="selectPark == false">
    select park
  </div>
<div class="row" *ngFor="let items of listOfParks">
  <div class="col-sm-6" *ngFor="let item of items">
    <div class="card cardPark">
      <div class="card-body">
        <h1 class="card-title">{{item.name}}</h1>
        <p *ngIf="item.availability == true">Available</p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button type="button" class="btn btn-danger" (click)="Selected(item.id)">Select</button>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Park</th>
        <th scope="col">Availability</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody *ngFor="let items of listOfParks">
        <tr *ngFor="let item of items">
          <td *ngIf="item.availability == true">{{item.name}}</td>
          <td *ngIf="item.availability == true">{{item.availability}}</td>
          <td *ngIf="item.availability == true"><input type="radio" name="transporte2" value="1" (click)="Selected(item.id)"></td>  
        </tr>
    </tbody>
</table> -->
<button  type="submit" class="btn btn-danger" (click)="open(mymodal)">Confirm Park</button>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="btn btn-danger cerr" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-form-reservation ></app-form-reservation>
  </div>

</ng-template>
