<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Park</th>
        <th scope="col">Availability</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody *ngFor="let items of listOfParks">
        <tr *ngFor="let item of items">
          <td *ngIf="item.availability == true">{{item.name}}</td>
          <td *ngIf="item.availability == true">{{item.availability}}</td>
          <td *ngIf="item.availability == true"><input type="radio" name="transporte2" value="1" (click)="Selected(item.id)"></td>  
        </tr>
    </tbody>
</table>
<button  type="submit" class="btn btn-danger" (click)="open(mymodal)">Confirm Park</button>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <app-form-reservation ></app-form-reservation>
  </div>

</ng-template>
