.form{
  margin: 2% 0% 0% 0%;
  margin-left: 28%;
  align-items: center;
}
.col-14{
  width: 55%;
  height: 70%;
}

input{
  margin-right: 1%;
  width: 20%;
}
.bt{
  background-color: rgb(54, 146, 146);
  border-color: rgb(54, 146, 146);
}
button{
  margin: 4% 0% 0% 35%;
  width: 25%;
  background-color:rgb(54, 146, 146);
  border-color: rgb(54, 146, 146);
}
@media screen and (max-width: 767px){
  button{
      margin-top: 7%;
      width: 70%;
  }
  .col-14{
      width: 70%;
      height: 100%;
  }
}

@media screen and (max-width: 575px) {
  button{
      margin-top: 8%;
      margin-left: 33%;
      width: 45%;
      height: 7%;
  }
  .col-14{
      width: 80%;
      height: 100%;
  }
}
