<form class="row row-cols-lg-auto g-3 align-items-center form">
	<div class="col-14">
		<h2>Enter Date of reservation</h2>
		<label class="visually-hidden" for="inlineFormInputGroupUsername">Number of guest</label>
		<div class="input-group col-12" >
			<div class="input-group-text">/</div>
			<input  class="form-control" type="text" id="inlineFormInputGroupUsername" placeholder="DateOfReservation" matInput [matDatepicker]="picker" [(ngModel)]="DateOfReservation" [ngModelOptions]="{standalone: true}">

		</div>
	</div>
	<div class="col-12 bt">
		<mat-datepicker-toggle matSuffix [for]="picker" style="background-color: rgb(54, 146, 146);" class="btno"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</div>
</form>
<button type="submit" class="btn btn-danger" (click)="ConfirmDate()">Confirm</button>
<ng-container *ngIf="numberClick == 1">
	<div>
		<app-parks></app-parks>
	</div>
</ng-container>
{{numberGuest}}